<h1>Title:<%= @article.title %></h1>

<p><%= @article.body %></p>


<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>


<ul class="hello">
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li>|</li>
  <li><%= link_to "Delete", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
    <li>|</li>
    <li><%= link_to "Back", root_path(@article)%></li>
</ul>
